[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-weread
Icon=com-pake-weread
Name=com-pake-weread
Name[zh_CN]=AI小巴士
StartupNotify=true
Terminal=false
Type=Application
