[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-AI小巴士
Icon=com-pake-AI小巴士
Name=com-pake-AI小巴士
Name[zh_CN]=AI小巴士
StartupNotify=true
Terminal=false
Type=Application
